.main-container{
  display: flex;
  align-items: stretch;
  justify-self: start;
  width: 100%;
  height: 100%;
}

.panel-container{
  width: 400px;
  background-color: rgb(175, 255, 255);
}

.canvas-container{
  flex-grow: 1;
}

.panel-layout{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.panel-item{
  position: relative;
  border-top: black solid 1px;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.shape-container{
  height: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
}